<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
        <h1>List All Students</h1>
        <a href="/student/store" class="btn btn-primary">Add Student</a>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">city</th>
            <th scope="col">State</th>
            <th scope="col">Country</th>
            <th colspan="2">Action</th>
          </tr>
        </thead>
        <tbody>
         
          <% for(let student of data) {%>
          <tr>
            <th scope="row">1</th>
            <td><%= student.name %></td>
            <td><%= student.email %></td>
            <td><%= student.phone %></td>
            <td><%= student.city %></td>
            <td><%= student.state %></td>
            <td><%= student.country %></td>
            <td>
              <a href="#" class="btn btn-success">View</a>
              <a href="#" class="btn btn-primary">Update</a>
              <a href="/student/delete/<%= student._id %>" class="btn btn-danger">Delete</a>
            </td>
          </tr>
          <%}%>
        </tbody>
      </table>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
