<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
</head>
<body>
    <h1 style="color: red;">home page</h1>

    <% if(false) {%>

        <h1>Welcome to webskitters</h1>



        <%}else {%>


            <h1>Not Found</h1>


            <%}%>




            <hr>


            <h1> Name is : <%=data.name%></h1>
            <h1>Age is : <%=data.age%></h1>
            <h1> Course is : <%=data.course%></h1>
            <h1> Email is : <%=data.email%></h1>



            <a href="/about">About</a>
</body>
</html>